* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: whitesmoke;
    margin: 0 auto;
    font-family: 'Montserrat', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main {
    width: 70%;
    background-color: whitesmoke;
    margin: 50px auto;
    border-radius: 5px;
}

h1 {
    font-family: 'Playfair Display', serif;
    font-size: 48px;
    margin-block: 10px;
}

/* Start of Header Section with heading and cheesecake image */
#header-image p {
    margin-block-end: 30px;
}

#cheese-img {
    width: 100%;    
    height: 40vh;
}

/* Start of Side Section which contains side info with icons */
.side-details {
    margin-top: 50px;
}

.side-details ul li {
    list-style-type: none;
    margin-block: 20px;
}

.side-details ul li span {
    display: inline-block;
}

.side-details ul li p {
    display: inline-block;
}

.side-details ul li p span:nth-child(1) {
    color: #0006;
    font-size: 10px;
    padding-bottom: 10px;
}

.fork {
    color: orange;
}

.material-symbols-outlined {
    margin-right: 10px;
}


/* for desktops to work better with grids */
@media screen and (min-width: 900px) {

    .side-details {
        border-radius: 15px;
        box-shadow: 0px 0 20px #00000033;
        height: 367px;
        width: 216px;  
        padding-left: 40px;
        padding-top: 30px;
    }

    #cheese-img {
        height: 70vh;   
    }
    
    #recipe-details-container {
        display: grid;
        grid-template-columns: 60% 30%;
        gap: 20%;
    }

    .side-details {
        grid-column: 2 / 3;

    }

    .ingredients-container {
        grid-column: 1 / 2;
        grid-row: 1;
    }
}


/* Start of third Section with Ingridents information in the middle */
.ingredients-container {
    margin-block: 30px;
}


.text2 {
    display: grid;
    grid-template-columns: 50px minmax(100px, 650px);
}

.ingredients-container p {
    margin-block: 30px;
}

input[type="checkbox"]{
    width: 1.5rem;
    margin: 0.7rem ;
    height: 20px;
}

.instructions ol {
    list-style-type: none;
}

ol div {
    display: flex;
}

ol p {
    width: 40px;
    height: 40px;
    text-align: center;
    padding: 10px;
    background-color: orange;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    font-family: 'Playfair-Display', serif;
    font-size: 18px;
    margin-top: 10px;
    margin-right: 0.85rem;
}

.order-list {
    width:  max(60%, 500px ) ;
    padding-block: 10px;
}

#source {
    margin-top: 60px;
    color: #0009;
}

#source a {
    color: #0009;
}

footer {
    text-align: center;
    margin-block: 100px 20px;
    color: #0009;
}

footer a {
    text-decoration: none;
    color: #0009;
}


/* for ipad and tablets */
@media screen and (max-width: 850px) {
    .flex {
        display: flex;
        justify-content: space-between;
    }

    .side-details {
        width: 90%;
        padding-inline-start: 30px;
    }

    main {
        width: 80%
    }
}


/* for mobile screens */
@media screen and (max-width: 450px) {
    main {
        width: 90%;
    }

    #cheese-img {
        height: 25vh; 
    }

    body {
        font-size: 14px;
    }

    h1 {
        font-size: 30px;
    }

    ol p {
        min-width: 40px;
    }
}

@media screen and (max-width: 375px) {
    
    h1 {
        font-size: 26px;
    }
}